<h1>Fyber code Challenge - Offers API</h1>


<div id="container"> 
    <% unless flash.empty? %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    <% end %>

    <%= form_tag offers_search_path, method: 'get', remote: true do  %>
      <p>
        <%= label_tag "UID"%>
        <%= text_field_tag "offers[uid]" %>
      </p>
      <p>
        <%= label_tag "Pub0"%>
        <%= text_field_tag "offers[pub0]" %>
      </p>
      <p>
        <%= label_tag "Page"%>
        <%= text_field_tag "offers[page]" %>
      </p>
      <%= submit_tag "Get offers" %>
    <% end %>

    <br/>
    <div id="results"><%= render 'search' %> </div>

</div>

