
<br/>
<div class="row"> 
  <div class="container">
    <div class="well">
      <div id="errors">
      </div>
      <%= form_tag offers_search_path, method: 'get', remote: true, class: 'form-horizontal' do  %>
        <div class="field form-group">
          <%= label_tag "UID", nil,class: 'col-sm-2 control-label'%>
          <div class="col-sm-4">
            <%= text_field_tag "offers[uid]", nil,  class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= label_tag "Pub0", nil,class: 'col-sm-2 control-label'%>
          <div class="col-sm-4">
            <%= text_field_tag "offers[pub0]", nil,  class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= label_tag "Page", nil,class: 'col-sm-2 control-label'%>
          <div class="col-sm-4">
            <%= text_field_tag "offers[page]", nil,  class: 'form-control' %>
          </div>
        </div>
        <div class="actions row">
          <div class="col-sm-offset-2 col-sm-10">
            <%= submit_tag "Get offers",class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
    <br/>
    <div id="results"><%= render 'search' %> </div>
  </div>
</div>

